<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="form-group">
          <form name="feature" method="post" action="login.php">
            <table width="50%"  align="center">

            <tr>
            <td colspan=2><center><font size=4><b> Feature </b></font></center></td>
            </tr>
            <tr>
            <td>Select Product :</td>

            <td>
                <select name="text">
                  <option value="">--select your product--</option>
                  <option value="product1">product 1</option>
                  <option value="product2">product 2</option>
                  <option value="product3">product 3</option>
                </select>
            </td></tr>
            <tr>
                    <td>Add Feature:</td>
                    <td><textarea rows="4" cols="50">
                    </textarea>
            </tr>

</body>
</html>