<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Sentimental</title>
<meta name="description" content="">
<meta name="author" content="">

<!-- Favicons
    ================================================== -->
<link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon" href="/static/img/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="72x72" href="/static/img/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="/static/img/apple-touch-icon-114x114.png">

<!-- Bootstrap -->
<link rel="stylesheet" type="text/css"  href="/static/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/static/fonts/font-awesome/css/font-awesome.css">

<!-- Stylesheet
    ================================================== -->
<link rel="stylesheet" type="text/css"  href="/static/css/style.css">
<link rel="stylesheet" type="text/css" href="/static/css/nivo-lightbox/nivo-lightbox.css">
<link rel="stylesheet" type="text/css" href="/static/css/nivo-lightbox/default.css">
<!--<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800,600,300' rel='stylesheet' type='text/css'>-->
<script type="text/javascript" src="/static/js/modernizr.custom.js"></script>

</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<body img src=bg.jpeg>

<!-- Header -->
<header id="header">
  <div class="intro">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="my-nav">
                  <ul>
                      <li><a href="/">Home</a></li>
                      <li><a href="/about/">About</a></li>
                      <li><a href="/contact/"> Contact</a></li>
                      <li><a href="/product/">Product</a> </li>
                      <li><a href="/">logout</a></li>
                  </ul>
                </div>
            </div>
        </div>
      <div class="row">
        <div class="intro-text">

